/* -------- Navbar Styling --------- */

.navbar{
    background-color: black;
    margin-bottom: 0px;
}
.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
    font-size: 18px;
    border-radius: 5px; 
}
.nav-item{
    /* border: 2px solid red; */
    height: 45px;
}

.Logo{
    height: 60px;
    width: 60px;
    border-radius: 45%;
    margin-right: 15px;
}
h3{
    color: white;
}
#search{
    background-color: rgb(58, 166, 238);
    border-radius: 3px;
    height: 30px;
}
input[type=search] {
    padding: 10px;
    height: 30px;
}
.navbar-toggler-icon{
    background-image: url("s-img1.png");
}




/* --------- Home Section --------- */

.main{
    background-image: url(s-img2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    width: 100%;
    opacity: 1.7;
}
.main h1{
    color: black;
    font-size: 4rem;
    font-weight: 700;
    padding-left: 20px;
}
.hp1{
    font-size: 2rem;
    color: black;
}
.btn{
    height: 34px;
    width: 25%;
    background-color: rgb(191, 238, 222);
    color: black;
    font-weight: 700;
    border-radius: 12px;
}
.btn:hover{
    background-color: rgb(53, 51, 51);
    color: white;
}
.container_slide{
    height: 300px;
    width: 350px;
}



/* --------- Tests cards section ------------ */

/* .service
{
    background-color: gray;
} */
.service img{
    height: 200px;
    width: 800px;
    
}
h5{
    font-size: 20px;
}
.row{
    margin-top: 48px;
    width: 100%;
}
.about
{
    margin-left: 500px;
  
}
.service
{
    background-color: lightslategray;
}
.card-text
{
    color: black;
    font-weight: 700;
}


.section2{
    
    width: 350px;
    margin: 10px;
}






/* ---------- Footer section ---------- */

footer{
    background-color:black;
    height :auto;
}
#info img
{
    height:30px ;
    width: 30px;
    left: 50%;
    border-radius: 5px;
}
